// {{ ansible_managed }}

hostname "Local Left 4 Dead 2 Dedicated Server"
//sv_contact ""
mp_roundlimit "2"
//sv_search_key ""
//sv_tags ""
//sv_steamgroup ""
//sv_steamgroup_exclusive "0"
//sv_password ""
sv_allow_lobby_connect_only "0"
sv_mincmdrate "20"
sv_maxcmdrate "101"
sv_minrate "15000"
sv_maxrate "30000"
z_difficulty "impossible"
sv_allow_wait_command "0"
sv_alltalk "1"

log on
sv_logecho "1"
sv_logfile "1"
sv_log_onefile "1"
sv_logbans "1"
sv_logflush "0"
sv_logsdir "logs"

// it is highly recommended to change the password!
rcon_password "+].1wb8c8v0,Mg#^)ZK]aA\@EEjv47p#?N_S)BXY6)"
