# {{ ansible_managed }}
#############################################################################
# Copyright 2020 Ramon Fischer                                              #
#                                                                           #
# Licensed under the Apache License, Version 2.0 (the "License");           #
# you may not use this file except in compliance with the License.          #
# You may obtain a copy of the License at                                   #
#                                                                           #
#     http://www.apache.org/licenses/LICENSE-2.0                            #
#                                                                           #
# Unless required by applicable law or agreed to in writing, software       #
# distributed under the License is distributed on an "AS IS" BASIS,         #
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  #
# See the License for the specific language governing permissions and       #
# limitations under the License.                                            #
#############################################################################

[Unit]
Description=left 4 dead 2 dedicated server
Requires=network.target
After=dhcpcd.service network-online.target
Wants=network-online.target

[Service]
Type=simple
User=steam
Group=steam
EnvironmentFile=/etc/default/l4d2-ds
ExecStart=/home/steam/.steam/steamapps/common/Left\x204\x20Dead\x202\x20Dedicated\x20Server/srcds_run \
            -ip ${SERVER_IP} \
            -port ${SERVER_PORT} \
            -game ${GAME_NAME} \
            +map ${GAME_MAP} \
            +sv_lan ${LAN_ONLY} \
            +sv_gametypes ${ALLOWED_GAME_TYPES} \
            ${SRCDS_RUN_OPTS}
ExecReload=/home/steam/bin/reload_l4d2_ds.sh
ExecStop=/bin/kill -s STOP ${MAINPID}

[Install]
WantedBy=multi-user.target
