# {{ ansible_managed }}
#############################################################################
# Copyright 2020 Ramon Fischer                                              #
#                                                                           #
# Licensed under the Apache License, Version 2.0 (the "License");           #
# you may not use this file except in compliance with the License.          #
# You may obtain a copy of the License at                                   #
#                                                                           #
#     http://www.apache.org/licenses/LICENSE-2.0                            #
#                                                                           #
# Unless required by applicable law or agreed to in writing, software       #
# distributed under the License is distributed on an "AS IS" BASIS,         #
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  #
# See the License for the specific language governing permissions and       #
# limitations under the License.                                            #
#############################################################################

# command line options: https://developer.valvesoftware.com/wiki/Command_Line_Options
SERVER_IP="10.0.2.254"
SERVER_PORT="27015"
GAME_NAME="left4dead2"
GAME_MAP="c1m1_hotel"
# "sv_lan 1" disables VAC
LAN_ONLY="1"
ALLOWED_GAME_TYPES="coop,realism,scavenge,teamscavenge,teamversus,versus"
PID_FILE="/var/tmp/l4d2-ds.pid"
LOG_FILE="/var/log/steam/l4d2/l4d2-ds.log"
ERROR_LOG_FILE="/var/log/steam/l4d2/l4d2-ds_error.log"
# use the netconsole with caution, since the connection is unencrypted!
# it is highly recommended to change the password!
# double quotes must not be used in the password!
SRCDS_RUN_OPTS="-netconport 42000 \
                -netconpassword eKpj0^ajX~^d(}y\Y}qec%,M;/{W4YnfiIjcgm{D2@"
